###############################
# IDE
###############################
.idea
*.ipr
*.iml

###############################
# Node
###############################
node_modules
npm-debug.log
tmp

###############################
# OSX
###############################
.DS_Store
