body, h1, h2, p {
  margin: 0;
  padding: 0;
}

.app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.board {
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 10px;
  flex: 1 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
}

.task {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 12px 0;
}
.add-task-button {
  background-color: rgb(223, 223, 19);
  color: rgb(216, 28, 28);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 9px 13px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 11px;
}

.add-task-button:hover {
  background-color: lightgray;
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  max-width: 100%;
  position: relative;
  left: -10px;
}
.add-board-button {
  background-color: grey;
  position: relative;
  left: 109px;
  width: 120px;
  height: 78px;
  top: 38px;
  font-size: 17px;
}

.modal-content {
  position: absolute;
  top: 25px;
  right: 16px;
}
.modal-content h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: yellow;
  font-weight: bold;
}